.button {
    background-color: #3BBD48;
    border-radius: 15px;
    color: black;
    font-weight: 600;
    transition: background-color 0.2s ease-in;
}
.button--big {
    padding: 15px 20px;
    font-size: 16px;
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.button:hover {
    background-color: #2bac38;
}
.button--big img {
    width: 30px;
}
.button--search {
    width: 50px;
    height: 50px;
    padding: 10px;
}