@import "./reset.css";
@import "./buttons.css";
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    color: black;
}
.container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 20px;
}

/* Header */
.header {
    padding: 20px 0 100px;
    height: 800px;
    color: black;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: center center;
    border-radius: 0 0 50px 50px;
}
.header a {
    color: black;
}
.container--header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}
.nav-list {
    display: flex;
    column-gap: 60px;
    font-size: 14px;
    font-weight: 500;
}
.logo {
    flex-shrink: 0;
}
.logo img {
    width: 120px;
}
.nav-list__link {
    opacity: 0.7;
}
.active {
    opacity: 1;
}
.user {
    display: flex;
    column-gap: 10px;
    align-items: center;
    font-size: 12px;
}
.user__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.user__hello {
    opacity: 0.6;
}
.user__name {
    font-weight: 500;
    text-align: right;
}

.user__avatar {
    position: relative;
    flex-shrink: 0;
}
.user__avatar::after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: rgb(207, 18, 18);
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
}
.user__img {
    width: 50px;
    border-radius: 50%;
    border: 2px solid #3BBD48;
}

/* Header content */

.header__content {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    text-align: center;
}
.header__title {
    color: black;
    font-size: 44px;
    font-weight: 700;
    line-height: 1;
}

/* Form */

.form {
    width: 1140px;
    height: 80px;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    color: black;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.form__input-wrapper {
    display: flex;
    flex-direction: column;
    padding: 15px 15px 15px 50px;
    background-repeat: no-repeat;
    background-position: 15px 50%;
}
.form__input--location {
    width: 340px;
    background-image: url("/img/icons/location.svg");
}
.form__input--activity {
    width: 250px;
    background-image: url("/img/icons/active.svg");
}
.form__input--date {
    width: 250px;
    background-image: url("/img/icons/date.svg");
}
.form__input--guests {
    width: 250px;
    background-image: url("/img/icons/group.svg");
}
.form__label {
    font-size: 14px;
    font-weight: 300;
    color:rgb(54, 54, 54);
}
.form__input {
    font-weight: 500;
    font-size: 16px;
}
.form__input::placeholder {
    color:rgba(123, 123, 123, 0.5);
}

/* Main */
.main {
    padding: 100px 0;
    display: grid;
    gap: 100px;
}
.section__header {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section__cards {
    display: grid;
    gap: 30px;
}
.section__cards--popular {
    grid-template-columns: repeat(6, 1fr);
}
.section__cards--four {
    grid-template-columns: repeat(4, 1fr);
}
.section__cards--two {
    grid-template-columns: repeat(2, 1fr);
}
.title-1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
}

/* Card */
.card {
    position: relative;
}
.card--wide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.card__link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.card__img {
    border-radius: 10px;
    margin-bottom: 8px;
    object-fit: cover;
    width: 100%;
}
.card__img--hotels {
    margin-bottom: 10px;
}
.card-title {
    font-size: 16px;
    font-weight: 500;
    color: black;
}
.card__title--hotels {
    margin-bottom: 5px;
}
.card__location {
    font-size: 14px;
    color: rgba(70, 70, 70, 0.5);
}
.card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card__location--icon {
    padding-left: 20px;
    background-repeat: no-repeat;
    background-image: url("/img/icons/location_small.svg");
    background-position: 0 50%;
}
.card__rating {
    display: flex;
    gap: 2px;
    align-items: center;
}
.form__input--location {
    width: 340px; 
}
.card__img--no-margin {
    margin: 0;
}
.card__desk {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.card__title--big {
    font-weight: 500;
    font-size: 20px;
}
.card__text {
    font-size: 16px;
    line-height: 2;
    color: rgba(70, 70, 70, 1);
}
.card__footer--wide {
    margin-top: auto;
}
.card__footer--link {
    padding-left: 20px;
    font-size: 13px;
    color: rgba(70, 70, 70, 0.6);
    background-repeat: no-repeat;
    background-position: 0 50%;
}
.card__footer--link--date {
    background-image: url("/img/icons/date_small.svg");
}
.card__footer--link--author {
    background-image: url("/img/icons/author.svg");
}
.card__footer--link--comments {
    background-image: url("/img/icons/comment.svg");
}

/* About Us */
.company {
    margin: 0 auto;
    max-width: 1144px;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
}
.company__desk {
    display: grid;
    gap: 30px;
    align-content: center;
}
.company__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
}
.company__text {
    font-size: 16px;
    line-height: 2;
    color: rgba(70, 70, 70, 1);
}
.company__button {
    justify-self: flex-start;
}
.company__img {
    border-radius: 20px;
    margin-bottom: 8px;
    object-fit: cover;
    width: 100%;
}

/* Footer */
.footer {
    background-color: rgba(70, 70, 70, 0.05);
    padding: 100px 0;
}
.footer__row {
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(3, auto);
}
.footer__copyright {
    display: grid;
    gap: 15px;
    max-width: 350px;
}
.footer__logo {
    width: 120px;
}
.footer__text {
    color: rgba(70, 70, 70, 1);
    margin-bottom: 15px;
    font-size: 13px;
}
.footer__socials {
    display: flex;
    gap: 30px;
    align-items: center;
}

/* Footer Nav */
.footer_nav-wrapper {
    display: flex;
    gap: 60px;
}
.footer__nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer__nav--title {
    font-weight: 500;
    font-size: 18px;
}
.footer__nav--list {
    display: grid;
    gap: 10px;
}
.footer__nav--link {
    color: rgba(70, 70, 70, 1);
    font-size: 13px;
}

.footer__nav--link:hover {
    color: #3BBD48;
}

/* Subscribe */
.footer__subscribe {
    max-width: 380px;
}

.footer__subscribe-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
}
.subscribe {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
.subscribe__input--wrapper {
    position: relative;
}
.subscribe__input {
    height: 70px;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: 10px 50%;
    padding: 35px 50px 15px 50px;
    background-image: url("/img/icons/mail.svg");
}
.subscribe__label {
    position: absolute;
    color: rgba(70, 70, 70, 0.6);
    font-size: 15px;
    font-weight: 300;
    top: 27px;
    left: 50px;
    pointer-events: none;
    transition: all 0.2s ease-in;
}
.subscribe__input:focus ~ .subscribe__label,
.subscribe__input:valid ~ .subscribe__label {
    top: 15px;
    font-size: 14px;
}
.subscribe__label--top {
    top: 15px;
    font-size: 14px;
}
.subscribe__label--invalid {
    color:red;
}